.image.active {
  border: 1px solid red;
}

.button-container {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.image-container {
  position: relative;
}

.content-feedback {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.feedback {
  font-size: 4rem;
}

.content {
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
}

.like:hover {
  color: green;
}

.dislike:hover {
  color: red;
}

.liked {
  color: green;
}

.disliked {
  color: red;
}
